* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
}

.wrapper {
  padding-top: 200px;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px 0px;
}

.wrapperr {
  letter-spacing: 0.2rem;
  height: 340px;
  width: 600px;
  background-color: #b1835e0a;
  /* text-align: left;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  text-align: left; */
}

h1 {
  font-size: 10vw;
  letter-spacing: -2px;
  background-color: transparent;
  overflow: hidden;
  line-height: 1;
  color: #ffff;
  margin-left: 100px;
}

h1 span {
  display: inline-block;
  transform: translateY(100%);
  line-height: 1;
}
